/* requirement 1 */
body{
  font-family: 'Poppins', serif;
  background-image: url("../images/concrete_seamless.png");
  background-color: #f1f1f1;
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}


/* requirement 2 */
header{
  display:flex;
  flex-direction: column;
  align-items: center;
}

/* requirement 3 */
.nav_links{
  display: flex;
  flex-direction: column;
}


/* requirement 4 */
.nav_item a{
  color: blue;
}

.nav_item a:visited{
  color: blue;
}



/* requirement 5 */
.card > header{
  background-color: #288088;
  border: solid 2px #45ADAD;
  padding: 20px 0px;
  border-radius: 50px 50px 0 0;
}



/* requirement 7 */
.pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* requirement 6 */
.card{
  border-radius: 50px 50px 0 0;
  /* requirement 8 */
  width: 450px;
}


/* requirement 9 */
.gallery img{
  border: solid 10px #50C7C7;
  margin: 10px 10px;
  width: 300px;
}


/* requirement 10 */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* requirement 11 */
#logo{
  position: relative;
  margin: 0 auto;
  animation-name: lgmove;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes lgmove {
  from {
    width: 25px;
    opacity: 0;
  }
  to{
    width: 475px;
    opacity: 1.0;
  }
}




/* For screen displays over 900px */
@media screen and (min-width: 900px){

/* requirement 12 */
header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_links{
  display: flex;
  flex-direction: row;
}

nav{
  align-self: center;
}

#logo{
  margin:0;
}


/* requirement 13 */
.pricing{
  flex-direction: row;
}

.card{
  width: 250px;
}

/* requirement 14 */
body > header{
  position: sticky;
  top: 0;
  width: 100%;
}

}



/** Code for prefers reduced motion **/
@media screen and (prefers-reduced-motion: reduce){
  #logo{
    animation: none;
  }
}



/** Code for print view **/
@media print {
  /* requirement 16a */
  body{
    font-family:Arial, Helvetica, sans-serif;
    
    /* requirement 16 */
    background-image: none;
  }

  /* requirement 17 */
  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
  }

  nav{
    width: 816px;
  }


  /* requirement 18 */
  .pricing{
    flex-direction: row;
    align-items: flex-end;
  }

  /* requirement 19 */
  .card{
    border: solid 2px #45ADDD;
    flex-basis: 325px;
  }

  /* requirement 20 */
  h2#gallery, div.gallery{
    display: none;
  }

  /* requirement 21 */
  .card li:nth-child(2):after{
    content: "\1F44D";
  }

 }


 
  